@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Projekt IBD - Paweł Wozignój</h1>
    <p class="lead">
        Aplikacja internetowa została stworzona na potrzeby zajęć z przedmiotu <strong>Internetowe Bazy Danych</strong>.
        Aplikacja działa jako system zarządzania pracownikami, umożliwiając dodawanie, edycję, usuwanie oraz przeglądanie pracowników i ich działów.
    </p>
    <p>
        Dokumentacja <a href="docs/index.html" target="_blank" rel="noopener">POBIERZ</a>
    </p>
</div>
