@model Models.Department
@{
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Nowy dział</h2>

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Nazwa działu</label>
                <div class="col-sm-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Departments" asp-action="Index" role="button">
                        Anuluj
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

